{% extends "layout.html" %}

{% block mainContent %}
  <p>This is the about us page</p>
  <body>
  <h1>This is the about us page</h1>
  <h2>Make Friends to Be Your Best</h2>

  <p>We, MeetYourBest, </p >
  <p>bring people together in thousands of cities to do more of what they want to do in life. </p >
  <p>It is organized around one simple idea: </p >
  <p>when we get together and do the things that matter to us, we’re at our best. And that’s what we do. </p >
  <p>It brings people together to do, explore, teach and learn the things that help them come alive.</p >
  
  <h3>Our Team</h3>
  < img scr=“https://www.facebook.com/photo.php?fbid=887134348048853&set=a.875404415888513.1073741826.100002568884690&type=3&theater”

PIC

Our Team

Jessie Zhao

Ada Gu

Kenechukwu Udeh
</body>
{% endblock %}
{% endblock %}
