{% extends "layout.html" %}

  
  <h1>About us </h1>
  <l1><span>One page website with contact form</span></l1>


{% block mainContent %}



  <body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/corporate-grey-low-poly-geometric-motion-background-video-animation-hd-1920x1080_nypfik1eg__M0008.jpg">
  <p>BestEvent</p>
  <h2>Discover Best Event in Your Life</h2>

  <p>We, help you find best event in your life, </p >
  <p>bring people together in thousands of cities to do more of what they want to do in life. </p >
  <p>It is organized around one simple idea: </p >
  <p>when we get together and do the things that matter to us, we’re at our best. And that’s what we do. </p >
  <p>It brings people together to do, explore, teach and learn the things that help them come alive.</p >
  
  <h3>Our Team</h3>
  <img id="calm-hare-headshot" src="Ada.jpg" width="200" height="180" alt="Computer Hope">
  <p><span id="calm-hare-name">Ada Gu</span>, Community Experience Manager</p >
  <p>Ada helps members make meaningful connections with people with shared interests. </p >
  <p>She helps to make sure that MeetYourBest is a safe and trustworthy place. </p >
  
  <img id="amused-wolf-headshot" src="http://i64.tinypic.com/votrb7.jpg" width="200" height="180" alt="Computer Hope">
  <p><span id="amused-wolf-name">Jessie Zhao</span>, Product Owner</p >
  <p>Jessie has a vision of connecting people and sharing good things within communities. </p >
  <p>She develops the product roadmap and makes sure an excellent using experience of our product. </p >
  
  </body>



{% endblock %}
