{% extends "layout.html" %}


{% block mainContent %}

{% if errors %}
    <div>
      <p>Please correct the following errors!</p>

      <ul class="form-errors">
        
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
<body background="http://freebie.photography/events/birthday_party_background.jpg">
<h1 id="title"> {{event.title}} </h1>
<p1 style="text-align:center;"><img id="image" src="http://25.media.tumblr.com/tumblr_ldv8jzmyhn1qc7j5lo1_500.gif" alt="HTML5 Icon" style="width:344px;height:344px;"> </p1>
<br/>
<span id="date"> {{event.date|prettyDate}} </span>
<span id="location">{{event.location}}</span>
<ul id="attendees">
  {% for attendee in event.attending %}
    <li class="attendee">
      {{attendee}}
    </li>
  {% endfor %}
  <!doctype html>
</ul>

<form id="rsvp" method="POST">
    <label for="Email">Email:</label>
    <input type="text" name="email">

    <input type="submit" value="Submit">

  </form>
  
  </body>

{% endblock %}