{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }} FTW</h1>
    <img id="logo" src="http://2.bp.blogspot.com/-pa1xNeqbQ3w/Unr83thvyLI/AAAAAAAABIk/3-TvgZM5Ovw/s640/Slide1.PNG" >
  </header>
{% endblock %}

{% block mainContent %}

<body background="https://www.ymcanyc.org/i/images/branch-images/mcburney---party.png">
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>
  
  
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>Here is our list of events</p>
  <div style="border: 1px solid black">
    {% include "fragments/events-list.html" %}
  </div>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
  </body>
{% endblock %}