{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }} FTW</h1>
    <img id="logo" src="https://www.uapb.edu/sites/www/Uploads/Career%20Svcs/Section%20Header%204%20Upcoming%20Events.png" >
  </header>
{% endblock %}

{% block mainContent %}

<body background="http://orig07.deviantart.net/038a/f/2011/047/5/3/anime_background_by_akatsuka_d_suna-d39nu7v.png">
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>
  
  
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>Here is our list of events</p>
  <div style="border: 1px solid black">
    {% include "fragments/events-list.html" %}
  </div>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
  </body>
{% endblock %}