<html>
  <head>
  <style>
   h1 {text-align:center;}
   h2 {text-align:center;}
</style>
      </head>
      
      <body background="http://www.pptbackground.net/background/Balloons-Party-Backgrounds-for-Powerpoint-Templates.jpg">
  <h1>Spring-solstice</h1>
  <h2>Final Report</h2>



 
      <body>
    <p><font size="5">Team Name:</font></p>
    <p><font size="4">·	  Spring-solstice</font></p>
    <p><font size="5">Team Member Names and Emails:</font></p>
    <p><font size="4">·	  Cui Gu (cui.gu@yale.edu)</font></p>
    <p><font size="4">·	  Jessie Zhao (Jessie.zhao@yale.edu)</font></p>
    <p><font size="4">·	  Kene Udeh (Kenechukwu.udeh@yale.edu)</font></p>
    <p><font size="5">Date Created: </font></p>
    <p><font size="4">·	  30th November 2016</font></p>
    <p><font size="5">Completed Stories in This Sprint: </font></p>
    <p><font size="4">·	The site, on all pages should be using Bootstrap CSS.</font></p>
    <p><font size="4">. The home page should have a list of events.</font></p>
    <p><font size="4">·	The home page should have a time tag for each event.</font></p>
    <p><font size="4">·	The home page should have a link for each event.</font></p>
    <p><font size="4">·	The about page should have people on it.</font></p>
    <p><font size="4">·	The about page should have a picture of each person.</font></p>
    <p><font size="4">·	The event detail pages should exist for each event and should have title, image, etc.</font></p>
    <p><font size="4">·	The event detail pages should allow Yale users to RSVP.</font></p>
    <p><font size="4">·	The event detail pages should reject RSVPs from non-Yale addresses.</font></p>
    <p><font size="5">Narrative of What Accomplished Since Last Report:</font></p>
    <p><font size="4">·	We worked on passing the above tests and have been able to pass all 43 test.</font></p> 
    <p><font size="4">·	We also made the site more ecstatically appealing by doing the following things:</font></p>
    <p><font size="4">  1) add nice pictures and gifs; </font></p>
    <p><font size="4">  2) beautify the website layout; </font></p>
    <p><font size="4">  3) adjust word styles such as size and font；</font></p>
    <p><font size="4">  4) polish the wording.</font></p>
    <p><font size="4">·	We redesigned the app name, BestEventEver, and also the description of the app’s value proposition, which is to discover the best event in your life. The reason we made this change was because we asked others to read the former introduction of our app and they thought the value claim was indirect and unattractive to them. Our team didn’t have strong language skills, but we thought we could at least make the app name and value claim direct and simple, which is easy to be understood and remembered.</font></p>   
    <p><font size="4">·	We added more content to the website. For example, we completed the About Us page with our full information and pictures displaying.</font></p>
    <p><font size="4">·	We also finished many challenges during the project process. The last and present sprint had a lot of back and forth movement of many items on the backlog as it took us time to get used to working on different branches and eventually merging and pushing them to the master branch without conflicts or totally losing the work done and having to do it all over again. The way we were trying to solve this problem was we helped remind each other to push our accomplished work into the master branch when we worked together.</font></p>    
    <p><font size="4">·	Team communication to make sure that at each point we were all on the same page was something we worked on and improved and which helped us hasten the pace of the work. The way we were trying to solve this problem was we set calendars on our outlook and sent emails to update each member’s working status once we were alarmed by our calendar.</font></p>
    <p><font size="4">·	Another mistake we have made was that we didn’t push our work to Heroku each time we finished a sprint since we assumed we should push it at the end of the project. Then we had to push all our stories to Heroku at the end of our project.</font></p>
    <p><font size="4">·	Another challenge we met was motivating each team member to finish the project. Since team members had different priorities during their academic year, someone laid back and someone was active in terms of accomplishing this project. Therefore, our team sort of lacked human resource since we had only 2 persons working on most of the project. We didn’t find a perfect solution for this problem. The way we were trying to overcome this challenge was to keep communicating with each other. Understand each other’s situation did help us make some progress.</font></p>
    <p><font size="4">·	The last obstacle we had was persons in our team didn’t have a good sense of coding. We solved this problem by attending many TA sessions and Kyle’s office hours.</font></p>
    <br/>
    <p><font size="5">Burn Down Chart （Covering the Whole Duration of the Project）</font></p>
    <img src="http://i68.tinypic.com/11m6k4k.png">
    <br/>
    <p><font size="5">Current Backlog If Any</font></p>
    <p><font size="4">·	Add a button to encourage students to contribute event ideas </font></p>
    <p><font size="5">Description of Special Features in the Project</font></p>
    <p><font size="4">· We built a new html website to describe our final report </font></p>


  
   
    
          
      </body>
      </html>
 